# =============== #
# Unity generated #
# =============== #
TowerDefence/Temp/
TowerDefence/Library/
TowerDefence/obj/

INventoryTuto/Library/
INventoryTuto/Temp/
INventoryTuto/obj/

EndlessRunner/Library/
EndlessRunner/Temp/
EndlessRunner/obj/

ScrollingCombatText/Library/
ScrollingCombatText/Temp/
ScrollingCombatText/obj/

GrandTour/Library/
GrandTour/Temp/
GrandTour/obj/

AchievementSystem/Library/
AchievementSystem/Temp/
AchievementSystem/obj/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
TowerDefence/*.csproj
*.pidb
*.suo
TowerDefence/*.sln
*.user
*.unityproj
*.booproj

INventoryTuto/*.csproj
*.pidb
*.suo
INventoryTuto/*.sln
*.user
*.unityproj
*.booproj

EndlessRunner/*.csproj
*.pidb
*.suo
EndlessRunner/*.sln
*.user
*.unityproj
*.booproj


ScrollingCombatText/*.csproj
*.pidb
*.suo
ScrollingCombatText/*.sln
*.user
*.unityproj
*.booproj


GrandTour/*.csproj
*.pidb
*.suo
GrandTour/*.sln
*.user
*.unityproj
*.booproj


AchievementSystem/*.csproj
*.pidb
*.suo
AchievementSystem/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db