# =============== #
# Unity generated #
# =============== #
BeehiveManagement/Temp/
BeehiveManagement/Library/
BeehiveManagement/obj/

NewProject001/Temp/
NewProject001/Library/
NewProject001/obj/

BattleHeart/Temp/
BattleHeart/Library/
BattleHeart/obj/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
BeehiveManagement/*.csproj
*.pidb
*.suo
BeehiveManagement/*.sln
*.user
*.unityproj
*.booproj

NewProject001/*.csproj
*.pidb
*.suo
NewProject001/*.sln
*.user
*.unityproj
*.booproj

BattleHeart/*.csproj
*.pidb
*.suo
BattleHeart/*.sln
*.user
*.unityproj
*.booproj


# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db